body {
  padding-top: 20px;
  font-family: 'Lato', sans-serif, arial;
  font-size: 15px;
  line-height: 1.5;
}
div.container {
  margin: auto;
  width: 60%;
  /*border: 3px solid #73AD21;*/
  padding: 10px;
  text-align: center;
}

h1{
  padding-top: 12px;
}
